@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Маршрутизация транспорта</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css" type="text/css"/>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css" type="text/css"/>
    <link rel="stylesheet" href="lib/css/StyleSheet.css" type="text/css"/>
</head>
<body>

<div id="map"></div>
<div class="topcorner">
    <input type="search" id="address-input" placeholder="Поиск..." />
    <br />
    <br />
    <!--<label style="background: #5181b8; color: white; font-weight: bold;">Количество грузовиков:</label>
    <br />
    <input type="number" class="inputClass" id="vehicleCount">
    <br />
    <br />
    <label style="background: #5181b8; color: white; font-weight: bold;">Вместимость грузовиков:</label>
    <br />
    <input type="number" class="inputClass" id="maxVehicle">
    <br />
    <br />-->

    <input type="button" class="btn btn-primary" value="Добавить клиентов" onclick="getMatchAll();" />
    <br /><br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vehicleModal">
        Добавить грузовики
    </button>
    <br />
    <br />
    <!--<label style="background: #5181b8; color: white; font-weight: bold;">Максимальный спрос клиентов:</label>
    <br />
    <input type="number" class="inputClass" min="0" id="maxDemand">
    <br/><br/>-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientModal">
        Загрузить спрос клиентов
    </button>
    <br /><br />
    <input type="button" class="form-submit-button" value="Расчёт" id="sendButton" />

    <br /><br />
    <input type="button" class="form-submit-button" value="Очистить решение" onclick="clearAllLayers();" />
    <br /><br />
    <input type="button" class="form-submit-button" value="Сохранить инструкции" onclick="saveInstructions();" />
    <br /><br />
    <label id="Cost"></label>
</div>

<!-- Modal -->
<div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog" aria-labelledby="vehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modals" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehicleModalLabel">Добавление грузовиков</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="AddVehicle();" class="btn btn-primary">Добавить грузовик</button>
                <button type="button" onclick="ClearVehicles();" class="btn btn-primary">Очистить список</button>
                <button type="button" onclick="SaveVehicles();" data-dismiss="modal" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="demandModals" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientModalLabel">Добавление спроса клиентам</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="genRandomDemand();">Сгенерировать</button>
                <button type="button" class="btn btn-primary" onclick="choiceRealData();">Выбрать реальные данные</button>
            </div>
        </div>
    </div>
</div>

<div id="state-legend" style="visibility: hidden" class="legend">
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="lib/js/Scripts.js" type="text/javascript" async defer></script>
</body>
</html>